# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.plastic-editor-view': [
    {
      'label': 'Toggle Code'
      'command': 'plastic:toggle-code'
    },
    {
      'label': 'Toggle Docs'
      'command': 'plastic:toggle-docs'
    },
    {
      'label': 'Toggle Headers'
      'command': 'plastic:toggle-headers'
    },
    {
      'label': 'Toggle Input Text (debug)'
      'command': 'plastic:toggle-text-input-debug'
    },
    {
      'label': 'Toggle Output Text (debug)'
      'command': 'plastic:toggle-text-output-debug'
    },
    {
      'label': 'Toggle Render Tree (debug)'
      'command': 'plastic:toggle-render-tree-debug'
    },
    {
      'label': 'Toggle Selections (debug)'
      'command': 'plastic:toggle-selections-debug'
    },
    {
      'label': 'Toggle Parser Data (debug)'
      'command': 'plastic:toggle-parser-debug'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Plastic (ClojureScript)'
      'submenu': [
        {
          'label': 'Toggle Code'
          'command': 'plastic:toggle-code'
        },
        {
          'label': 'Toggle Docs'
          'command': 'plastic:toggle-docs'
        },
        {
          'label': 'Toggle Headers'
          'command': 'plastic:toggle-headers'
        }
      ]
    ]
  }
]
