# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.quark-editor-view': [
    {
      'label': 'Toggle Code'
      'command': 'quark:toggle-code'
    },
    {
      'label': 'Toggle Docs'
      'command': 'quark:toggle-docs'
    },
    {
      'label': 'Toggle Plain Text (debug)'
      'command': 'quark:toggle-plaintext-debug'
    },
    {
      'label': 'Toggle Code Render Info (debug)'
      'command': 'quark:toggle-code-debug'
    },
    {
      'label': 'Toggle Docs Render Info (debug)'
      'command': 'quark:toggle-docs-debug'
    },
    {
      'label': 'Toggle Headers Render Info (debug)'
      'command': 'quark:toggle-headers-debug'
    },
    {
      'label': 'Toggle Parser Data (debug)'
      'command': 'quark:toggle-parser-debug'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Quark (ClojureScript)'
      'submenu': [
        {
          'label': 'Toggle Code'
          'command': 'quark:toggle-code'
        },
        {
          'label': 'Toggle Docs'
          'command': 'quark:toggle-docs'
        }
        
      ]
    ]
  }
]
