# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

# global plastic commands
'atom-workspace':
  'ctrl-alt-c': 'plastic:toggle-code'
  'ctrl-alt-d': 'plastic:toggle-docs'
  'ctrl-alt-h': 'plastic:toggle-headers'

# plastic editor
'.plastic-editor-view:not(.inline-editor-active)':
  'left': 'plastic:spatial-left'
  'right': 'plastic:spatial-right'
  'up': 'plastic:spatial-up'
  'down': 'plastic:spatial-down'
  'ctrl-up': 'plastic:structural-up'
  'ctrl-down': 'plastic:structural-down'
  'ctrl-left': 'plastic:structural-left'
  'ctrl-right': 'plastic:structural-right'
  'backspace': 'plastic:backspace'
  'delete': 'plastic:delete'
  'alt-delete': 'plastic:alt-delete'
  'space': 'plastic:space'
  'enter': 'plastic:enter'
  'alt-enter': 'plastic:alt-enter'
  'tab': 'plastic:next-token'
  'alt-tab': 'plastic:prev-token'
  '(': 'plastic:open-list'

# inlined text editor
'.plastic-editor-view atom-text-editor':
  'ctrl-up': 'plastic:stop-editing'
  'ctrl-down': 'plastic:nop'
  'escape': 'plastic:stop-editing'
  'space': 'plastic:space'
  'enter': 'plastic:enter'
  'alt-enter': 'plastic:alt-enter'
  'tab': 'plastic:next-token'
  'alt-tab': 'plastic:prev-token'

'.plastic-editor-view atom-text-editor.empty':
  '(': 'plastic:open-list'