.com-rigsomelight-devcards-base {
	font-size: 12px !important;
}

.com-rigsomelight-devcards-panel-heading {
  padding: 2px 6px !important;
}

.com-rigsomelight-devcards-devcard-padding {
  padding: 0px !important;
  margin: 0px !important;
}

.com-rigsomelight-devcards-markdown pre {
  margin: 0px !important;
}

.com-rigsomelight-devcards-test-line {
	padding: 0px !important;
}

.com-rigsomelight-devcards-context {
	padding: 10px 6px 4px 6px !important;
}

.com-rigsomelight-devcards-test-line pre {
	display: inline !important;
}
