@import "./config";

.plastic-editor-view {

  .code-box {
    padding: 4px;
    margin-left: @doc-indent;
  }

  .code-box.sexpr-ns {
    margin-left: 0;
  }

  .block {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    border-radius: 2px;
    margin-bottom: @cursor-border-width; // to prevent cursor border z-indexing issue
  }
  
  table.elements,
  table.elements tbody,
  table.elements tr,
  table.elements td {
    position: inherit;
  }
  
  table.elements {
    display: inline-table;
  }
  
  div.elements {
    display: inline-block;
  }
  
  .elements td:last-child {
    padding-left: @token-spacing/2;
  }
  
  .elements td:last-child {
    // border-left: 1px dashed #222;
  }

  .elements td:first-child {
    border-left: none;
    padding-right: @token-spacing/2;
  }
  
  .elements td:first-child {
    width: 1px;
    padding-left: 0px;
  }
  
  .elements td {
    white-space: nowrap;
  }

  div.elements > *,
  table.elements > tbody > tr > td > * {
    margin-right: @token-spacing;
  }

  div.elements > *:last-child,
  table.elements > tbody > tr > td > *:last-child {
    margin-right: 0px;
  }
  
  .indent {
    display: inline-block;
    margin: 0px !important;
    padding: 0px !important;
    width: @code-indent;
  }

  .punctuation {
    vertical-align: top;
    margin-left: 0px;
    display: inline-block;
    
    padding: 0px 0px;
    opacity: 0.4;
    font-weight: bold;
  }

  .opener {
    vertical-align: top;
  }

  .closer {
    vertical-align: bottom !important;
  }
  
  .newline {
    opacity: 0.2;
    vertical-align: bottom !important;
  }

} // .plastic-editor-view
