@import "./__config";

.plastic-editor-view {

  .code-section {
    display: flex;
  }
  
  .code-box {
    display: inline-block;
    border-radius: 2px;
    padding: @natural-padding;
  }
  
  .unit-kind-ns .code-box {
    background-color: @ns-background-color;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-bottom: 4px;
    border-bottom: 4px solid lighten(@ns-background-color, 10%);
  }
  
  .unit-type-compound .code-box {
    background-color: #161719; // TODO: should be same as .scope-1
  }
  
  .unit-type-linebreak .code-box {
    padding: 0px;
  }

  .unit-type-comment .code-box {
    padding: 0px;
  }
  
  .block {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    border-radius: 2px;
    margin-bottom: 0px;
  }
  
  table.elements,
  table.elements tbody,
  table.elements tr,
  table.elements td {
    vertical-align: top;
  }
  
  table.elements {
    display: inline-table;
  }
  
  div.elements {
    display: inline-block;
  }
  
  .elements td:first-child {
    width: 1px;
  }
  
  .elements td:first-child {
    padding-right: @token-spacing;
  }

  .elements td:last-child {
    padding-right: 0;
  }
  
  .elements td {
    white-space: nowrap;
  }

  div.elements > div,
  table.elements > tbody > tr > td > div {
    margin-right: @token-spacing;
  }

  div.elements > div:last-of-type,
  table.elements > tbody > tr > td > div:last-of-type {
    margin-right: 0;
  }
  
  .spot {
    margin-right: 0 !important;
  }

  .spot.cursor {
    left: @cursor-carret-spot-shift; 
  }

  .linebreak {
    margin-right: 0 !important;
  }

  .indent {
    display: inline-block;
    margin: 0px !important;
    padding: 0px !important;
    width: @code-indent;
  }

  .punctuation {
    margin-left: 0px;
    display: inline-block;
    padding: 0px 0px;
    opacity: 0.2;
    font-weight: bold;
  }

  .opener {
    vertical-align: top;
  }

  .closer {
    vertical-align: bottom;
  }
  
} // .plastic-editor-view
