@import "./__config";

.plastic-editor-view {

  .debug {
    font-size: 8px;
    margin-top: 10px;
    padding: 2px 6px;
    display: inline-block;
    color: white;
    background-color: #494;
    border: 1px dashed white;
    white-space: pre;
  }
  
  .text-input-debug {
    background-color: #444;
  }
  
  .text-output-debug {
    background-color: #44a;
  }

  .render-tree-debug {
    background-color: #a44;
  }

  .debug-selections .selectable::before {
    pointer-events: none;
    content: '';
    position: absolute;
    z-index: 100;
    width: calc(100%);
    height: calc(100%);
    background-color: yellow;
    opacity: 0.1;
  }

} // .plastic-editor-view
