@import "./__config";

.plastic-editor-view {
  
  .doc {
    margin-bottom: 6px;
    padding-right: 1em;
  }

  .doc .docstring {
    display: inline-block;
    white-space: pre;
    color: #aaa;
    padding: @docstring-vertical-padding @docstring-horizontal-padding;
    border-left: 2px solid @doc-separator-color;
  }
  
  .doc i {
    opacity: 0.1;
  }

} // .plastic-editor-view
