@import "./__config";

.plastic-editor-view {
  
  .doc {
    margin-left: @form-inner-indent;
    margin-bottom: 6px;
    padding-right: 1em;
  }

  .doc .docstring {
    display: inline-block;
    white-space: pre;
    color: #aaa;
    padding: 8px 10px;
  }
  
  .doc i {
    opacity: 0.1;
  }

} // .plastic-editor-view
