@import "./config";

.plastic-editor-view {
 
  .token {
    padding-right: 2px; // placeholder for inline atom editor
  }

  .token.editing {
    padding-right: 0px; // correction for inline atom editor
  }
  
  .form.editing .form-overlay {
    display: none;
  }

} // .plastic-editor-view
