@import "./__config";

.plastic-editor-view {

  .form {
    .noselect;
    .promote-as-a-new-gpu-layer;
    opacity: 0.8;
    border-radius: 2px;
    position: relative; // important for form overlays
  }

  .form:hover {
    opacity: 1;
  }

  .form.focused {
    opacity: 1;
  }

  .form-overlay {
    .promote-as-a-new-gpu-layer;
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
  
  .has-headers > .docs-section,
  .has-headers > .code-section {
    margin-left: @form-with-header-indent;
  }

} // .plastic-editor-view
