@import "./__config";

.plastic-editor-view {
  
  .header {
    margin-top: 4px;
    margin-bottom: 6px;
    padding-bottom: 4px;
    border-bottom: 2px solid @header-separator-color;
  }
  
  .header .name {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    border-radius: 2px;
    font-size: 140%;
  }

  .focused .header .name div {
    color: #ff8;
  }
  
  .header .arities {
    margin-top: 4px;
    margin-left: @form-inner-indent;
    color: #ccc;
  }
  
  .header .arities.arity-1 {
    margin-left: 6px;
    display: inline-block;
  }
  
  

} // .plastic-editor-view
