@import "./__config";

.plastic-editor-view {
  
  .header {
    padding-bottom: 1em;
  }

  .header .name div {
    display: inline-block;
    background-color: #888;
    color: #21252b;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 0;
    border-radius: 2px;
  }

  .focused .header .name div {
    background-color: #ff8;
  }

} // .plastic-editor-view
