// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@scope-base: hsl(207, 100%, 70%);
@scope-highlight-base: hsl(207, 100%, 70%);
@scope-angle: 70;

@depth-base: hsl(0, 0%, 10%);
@depth-multiplier: 2;

.quark-editor-view {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 13px;
  overflow: auto;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  line-height: 12px;
}

.quark-editor-view sub {
  font-size: 8px;
}

.quark-editor-view .fancy {
  margin-bottom: 20px;
  padding: 2px 6px;
  display: inline-block;
  background-color: #444;
  color: white;
  white-space: pre;
  float: left;
  clear: both;
  border-radius: 4px;
}

.quark-editor-view .state {
  font-size: 9px;
  margin-bottom: 20px;
  padding: 2px 6px;
  display: inline-block;
  background-color: #494;
  color: white;
  float: left;
  clear: both;
  border-radius: 4px;
  white-space: pre;
}

.quark-editor-view .debug {
  font-size: 9px;
  margin-bottom: 20px;
  padding: 2px 6px;
  display: inline-block;
  background-color: #449;
  color: white;
  float: left;
  clear: both;
  border-radius: 4px;
  white-space: pre;
}

.quark-editor-view .structure-state {
  font-size: 9px;
  margin-bottom: 20px;
  padding: 2px 6px;
  display: inline-block;
  background-color: #944;
  color: white;
  float: left;
  clear: both;
  border-radius: 4px;
  white-space: pre;
}

.quark-editor-view .soup {
  margin-bottom: 20px;
  padding: 2px;
  padding-top: 4px;
  padding-left: 4px;
  display: inline-block;
  background-color: #449;
  color: white;
  float: left;
  clear: both;
  border-radius: 4px;
}

.quark-editor-view .soup-item {
  margin-bottom: 2px;
  margin-right: 2px;
  padding: 1px 4px;
  display: inline-block;
  background-color: #944;
  clear: both;
  border-radius: 2px;
}

.quark-editor-view .structural {
  margin-bottom: 20px;
  padding: 4px;
  display: inline-block;
  background-color: #000;
  color: white;
  float: left;
  clear: both;
  border-radius: 4px;
}

.quark-editor-view .vat {
  vertical-align: top;
}

.quark-editor-view .vab {
  vertical-align: bottom !important;
}

.quark-editor-view .compound {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  margin-bottom: 2px;
}

/*
.quark-editor-view .compound.list {
  border-left-style: dashed;
  border-right-style: dashed;
}

.quark-editor-view .compound.map {
  border-left-style: dotted;
  border-right-style: dotted;
}

.quark-editor-view .compound.set {
  border-left-style: dotted;
  border-right-style: dotted;
}
*/

.quark-editor-view .wrap {
  display: inline-block;
  white-space: nowrap;
  //border: 1px solid red;
}

.quark-editor-view .token {
  vertical-align: top;
  white-space: pre;
  margin-top: 2px;
  margin-left: 0px;
  margin-bottom: 2px;
  margin-right: 6px;
  padding: 0px 2px;
  display: inline-block;
  border-radius: 2px;
}

.quark-editor-view .token.vab,
.quark-editor-view .token.vat,
.quark-editor-view .token:last-child {
  margin-right: 0px;
}

.quark-editor-view .compound.list > .wrap > .token:first-child {
  //font-weight: bold;
  font-style: italic;
}

.quark-editor-view .token.string {
}

.quark-editor-view .token.string i {
  opacity: 0.1;
}

.quark-editor-view .token .decl {
  font-weight: bold;
}

.quark-editor-view .token .def-name {
  font-weight: bold;
  text-decoration: underline;
}

.quark-editor-view .punctuation {
  padding: 0px 0px;
  opacity: 0.4;
  font-weight: bold;
}

.quark-editor-view .scope {
  border-left: 2px solid;
  padding-left: 20px;
  border-color: spin(@scope-base, 0*@scope-angle);
}

.quark-editor-view .decl-scope {
  //text-shadow: 0px 0px 4px;
}

.makeScopes(@i) when (@i > 0) {
    @scope: @i - 1;

    .quark-editor-view .scope-@{scope} {
        border-color: spin(@scope-base, @scope*@scope-angle);
    }

    .quark-editor-view .decl-scope-@{scope} {
        // text-shadow: 0px 0px 7px spin(@scope-highlight-base, @scope*@scope-angle);
        color: spin(@scope-base, @scope*@scope-angle);
    }
 
     // next iteration
    .makeScopes((@i - 1));
}
 
.makeScopes(20);

.makeDepths(@i) when (@i > 0) {
    @depth: @i - 1;

    .quark-editor-view .depth-@{depth} {
        background-color: lighten(@depth-base, percentage((@depth*@depth-multiplier)/100));
    }

    .makeDepths((@i - 1));
}
 
.makeDepths(20);
