@import "./config";

.plastic-editor-view {

  .selectable {
    cursor: pointer;
  }

  .token.selectable {
    opacity: 0.8;
    pointer-events: auto;
  }

  .token.selectable:hover {
    opacity: 1;
  }

} // .plastic-editor-view
