@import "./config";

.plastic-editor-view {
 
  .token {
    display: inline-block;
    // adding GPU layer here triggers a bug when CSS animation does not go away from ::before element
    // transform: translateZ(0); // create a GPU layer
    vertical-align: top;
    white-space: pre;
  }
  
  .token .raw {
    display: inline-block;
  }

  .token.call {
    font-style: italic;
  }

  .token.string {
    color: hsl(130, 100%, 80%);
    background-color: hsl(130, 100%, 20%);
    padding: 1px 4px;
    border-radius: 2px;
    line-height: 1em;
  }
  
  .token.keyword {
    color: hsl(280, 100%, 80%);
    background-color: hsl(280, 40%, 40%);
    padding: 1px 4px;
    border-radius: 2px;
    line-height: 1em;
  }

  .token.string i {
    opacity: 0.2;
  }

  .token .shadowed {
    position: relative;
    font-size: 8px;
    top: 1px;
  }

  .token.decl {
   font-weight: bold;
  }

  .token.def-name {
    font-weight: bold;
    .raw {
      text-decoration: underline;
    }
  }

  .token.def-doc {
    background-color: black;
    color: #888;
  }

} // .plastic-editor-view
